#titulo-pdi {
    background-color: #c02323;
    color: white; 
}

.range-item{
    border-left: 8px solid #afc023;
    margin-bottom: 5px;
}

.border-red{
    border-color: red !important;
}
.border-blue{
    border-color: #1F57A7 !important;
}