#produtividade_avaliacao {
    background-color: #afc023;
    color: white;
    padding: 25px; 
    margin: 1px;
}

#satisfacao {
    background-color: #0a4f9c;
    color: white;
    padding: 25px; 
    margin: 1px;
}
#pdi {
    background-color: #c02323;
    color: white;
    padding: 25px; 
    margin: 1px;
}

.porcentagem {
    font-weight: bold;
    font-size: 36px;
    margin-left: 8px;
}

button {
    background-color: white;
}